.studservis-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 0 0 40px;
  row-gap: 22px;
  padding: 15px;
  border-radius: 10px;
  border: solid 1px rgb(133, 133, 133);
  position: relative;
  background-color: $color-default-white;

  &__first-form,
  &__second-form,
  &__third-form {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  }

  &__title {
    margin: 0 0 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: $color-default-black;
  }

  &__input {
    min-height: 52px;
    width: 100%;
    padding: 16px 26px;
    text-overflow: ellipsis;
    font-size: 16px;
    outline: none;
    line-height: 1;
    color: #000;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 6px;
    background: #fff;
    font-family: Arial, sans-serif;

    &::placeholder {
      font-size: inherit;
      font-weight: 700;
      line-height: inherit;
      color: #abb5be;
      text-transform: uppercase;
    }

    &.studservis-form__select {
      &.select.select-short {
        width: 100%;
        padding: 0;
        text-overflow: ellipsis;
        font-size: 16px;
        outline: none;
        line-height: 1;
        color: #000;
        border: 1px solid rgb(133, 133, 133);
        background: #fff;
        border-radius: 6px;
        font-family: Arial, sans-serif;

        &.select_show {
          border-radius: 6px 6px 0 0;
        }

        & .select__current {
          text-transform: uppercase;
          color: #abb5be;
          font-weight: 700;
        }

        & .select__element {
          padding: 10px;
          color: #666;
          cursor: pointer;
          margin: 0;
          font-size: 12px;
          line-height: 20px;
          min-height: 20px;
        }

        & .select__dropdown {
          border: 1px solid rgb(133, 133, 133);
          border-top: none;
        }

        & .select__box {
          padding: 16px 26px;
          min-height: 52px;

          &:after {
            margin: 0;
            padding: 0;
            border: none;
            content: '';
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translate(0, -50%);
            width: 15px;
            height: 10px;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8' viewBox='0 0 14 8' fill='none'%3E%3Cpath d='M13.3973 1.28571C13.3973 1.17857 13.3438 1.05803 13.2634 0.977678L12.5938 0.308035C12.5134 0.227678 12.3929 0.174107 12.2857 0.174107C12.1786 0.174107 12.058 0.227678 11.9777 0.308035L6.71429 5.57143L1.45089 0.308035C1.37054 0.227678 1.25 0.174107 1.14286 0.174107C1.02232 0.174107 0.915179 0.227678 0.834822 0.308035L0.165179 0.977678C0.0848215 1.05803 0.0312501 1.17857 0.0312501 1.28571C0.0312501 1.39286 0.0848215 1.51339 0.165179 1.59375L6.40625 7.83482C6.48661 7.91518 6.60714 7.96875 6.71429 7.96875C6.82143 7.96875 6.94196 7.91518 7.02232 7.83482L13.2634 1.59375C13.3438 1.51339 13.3973 1.39286 13.3973 1.28571Z' fill='%23ABB5BE'/%3E%3C/svg%3E");
          }
        }
      }
    }

    &--error {
      color: #d50000;
      border-color: #d50000;

      &::placeholder {
        color: inherit;
      }

      &.studservis-form__select {
        &.select.select-short {
          border-color: #d50000;
          & .select__current {
            color: #d50000;
          }
        }
      }
    }
  }

  &__file-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__file-item {
    margin: 10px 0 0 0;
    padding: 0 0 0 26px;
    color: #abb5be;
  }

  &__input-wrapper {
    position: relative;
  }

  &__textarea {
    min-height: 126px;
  }

  &__file-label {
    position: relative;
    display: block;
    width: 100%;
    min-height: 52px;
    padding: 16px 26px;
    border: solid 1px rgb(133, 133, 133);
    border-radius: 6px;
    cursor: pointer;

    &:before {
      content: attr(data-placeholder);
      font-weight: 700;
      text-transform: uppercase;
      color: #abb5be;

      position: absolute;
      left: 26px;
      top: 50%;
      transform: translate(0, -50%);
    }

    &:after {
      content: '';
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translate(0, -50%);
      width: 10px;
      height: 18px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='18' viewBox='0 0 10 18' fill='none'%3E%3Cpath d='M2.4928 4.29486C2.38634 4.40133 2.32921 4.53635 2.31883 4.67657H2.31103L2.30065 11.4512C2.30065 12.2198 2.51877 12.7522 3.05108 13.2897C3.46914 13.7077 4.00146 13.931 4.54675 13.9155C5.11023 13.8999 5.65812 13.6402 6.13071 13.1676L6.1411 13.1572C6.63187 12.6639 6.89672 12.0095 6.89153 11.3188V3.44316C6.89153 1.44893 5.49713 0 3.57301 0C2.62004 0 1.7216 0.371322 1.04647 1.04905C0.371335 1.72418 -0.00258322 2.62262 1.3434e-05 3.57559V13.4403C1.3434e-05 15.9538 2.04618 18 4.55974 18C5.77497 18 6.92009 17.5248 7.78218 16.6627C8.64427 15.8006 9.11946 14.6555 9.11946 13.4403L9.10128 3.20946C9.10128 3.20946 9.10388 2.98615 8.91692 2.79919C8.67803 2.5603 8.29113 2.5603 8.05224 2.79919C7.93798 2.91344 7.88086 3.06145 7.87566 3.20946H7.87307L7.89124 13.4403C7.89124 14.3283 7.54329 15.1645 6.9149 15.7928C6.28392 16.4238 5.45039 16.7692 4.56233 16.7692C2.7265 16.7692 1.23083 15.2735 1.23083 13.4377V3.57559C1.23083 2.9498 1.47491 2.36295 1.91894 1.91893C2.36297 1.4749 2.94981 1.23081 3.5756 1.23081C4.1988 1.23081 4.72592 1.44374 5.09984 1.84882C5.46856 2.24611 5.66331 2.79919 5.66331 3.44316V11.3344C5.66331 11.6953 5.5231 12.0355 5.26862 12.29C4.78305 12.7755 4.22477 12.7236 3.92356 12.4224C3.66908 12.1679 3.52887 11.8278 3.52887 11.4668L3.54185 4.67398H3.53406C3.52367 4.53376 3.46655 4.39873 3.36008 4.29227C3.11859 4.05597 2.73169 4.05597 2.4928 4.29486Z' fill='%23ABB5BE'/%3E%3C/svg%3E");
      background-size: cover;
    }
  }

  &__error {
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    color: $color-warning;
    font-size: 0.8rem;
    line-height: 1rem;
  }

  &__buttons-wrapper {
    display: flex;
    column-gap: 20px;
  }

  &__button-next-stage {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #fff;
    background-color: #0a71cc;
    border: 1px solid transparent;
    border-color: #0a71cc;
    text-transform: uppercase;
    width: max-content;
    padding: 15.5px 2rem;
    font-size: 1rem;
    line-height: 19px;
    border-radius: 6px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #085da8;
      border-color: #08569b;
    }
  }

  &__button-skip {
    padding: 15.5px 2rem;
    width: max-content;
    font-size: 1rem;
    line-height: 19px;
    border-radius: 6px;
    border: 1px solid transparent;
    color: #0a71cc;
    border-color: #0a71cc;
    font-weight: 700;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: #fff;
      background-color: #0a71cc;
      border-color: #0a71cc;
    }
  }

  &__help-text {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    color: $color-default-black;
  }

  &__agreeament {
    a {
      text-decoration: underline;
    }
    &.error {
      & + label {
        color: #dc3545;

        &::before {
          border: solid 1px #dc3545;
        }
      }
    }

    & + label {
      padding: 0 0 0 22px;
      position: relative;
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 100%;
      color: #1e212c;
      cursor: pointer;

      @include vp--767 {
        color: $color-default-white;
      }

      & a {
        color: inherit;
        text-underline-offset: 2px;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        height: 16px;
        width: 16px;
        background: $color-default-white;
        border-radius: 2px;
        border: solid 1px #ced4da;
      }

      &:after {
        content: '';
        position: absolute;
        left: 2px;
        top: 50%;
        transform: translate(0, -60%);
        width: 12px;
        height: 10px;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23b3da26' d='M480 128c0 8.188-3.125 16.38-9.375 22.62l-256 256C208.4 412.9 200.2 416 192 416s-16.38-3.125-22.62-9.375l-128-128C35.13 272.4 32 264.2 32 256c0-18.28 14.95-32 32-32c8.188 0 16.38 3.125 22.62 9.375L192 338.8l233.4-233.4C431.6 99.13 439.8 96 448 96C465.1 96 480 109.7 480 128z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
      }
    }

    &:checked {
      & + label {
        &:after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
